### Understanding the Dataset
Schema **world** is created within MySQL and data **demog** is imported into the schema

In [ ]:
SELECT * FROM world.demog
LIMIT 10;

| id | code | name                | area    | area_land | area_water | population | population_growth | birth_rate | death_rate | migration_rate |
| -- | ---- | ------------------- | ------- | --------- | ---------- | ---------- | ----------------- | ---------- | ---------- | -------------- |
| 1  | af   | Afghanistan         | 652230  | 652230    | 0          | 32564342   | 2.32              | 38.57      | 13.89      | 1.51           |
| 2  | al   | Albania             | 28748   | 27398     | 1350       | 3029278    | 0.3               | 12.92      | 6.58       | 3.3            |
| 3  | ag   | Algeria             | 2381741 | 2381741   | 0          | 39542166   | 1.84              | 23.67      | 4.31       | 0.92           |
| 4  | an   | Andorra             | 468     | 468       | 0          | 85580      | 0.12              | 8.13       | 6.96       | 0              |
| 5  | ao   | Angola              | 1246700 | 1246700   | 0          | 19625353   | 2.78              | 38.78      | 11.49      | 0.46           |
| 6  | ac   | Antigua and Barbuda | 442     | 442       | 0          | 92436      | 1.24              | 15.85      | 5.69       | 2.21           |
| 7  | ar   | Argentina           | 2780400 | 2736690   | 43710      | 43431886   | 0.93              | 16.64      | 7.33       | 0              |
| 8  | am   | Armenia             | 29743   | 28203     | 1540       | 3056382    | 0.15              | 13.61      | 9.34       | 5.8            |
| 9  | as   | Australia           | 7741220 | 7682300   | 58920      | 22751014   | 1.07              | 12.15      | 7.14       | 5.65           |
| 10 | au   | Austria             | 83871   | 82445     | 1426       | 8665550    | 0.55              | 9.41       | 9.42       | 5.56           |

In [ ]:
SELECT * FROM world.demog
ORDER BY id DESC
LIMIT 10;

| id  | code | name                                          | area  | area_land | area_water | population | population_growth | birth_rate | death_rate | migration_rate |
| --- | ---- | --------------------------------------------- | ----- | --------- | ---------- | ---------- | ----------------- | ---------- | ---------- | -------------- |
| 254 | we   | West Bank                                     | 5860  | 5640      | 220        | 2785366    | 1.95              | 22.99      | 3.5        | 0              |
| 251 | gz   | Gaza Strip                                    | 360   | 360       | 0          | 1869055    | 2.81              | 31.11      | 3.04       | 0              |
| 247 | vq   | Virgin Islands                                | 1910  | 346       | 1564       | 103574     | 0.59              | 10.31      | 8.54       | 7.67           |
| 246 | rq   | Puerto Rico                                   | 13791 | 8870      | 4921       | 3598357    | 0.6               | 10.86      | 8.67       | 8.15           |
| 245 | cq   | Northern Mariana Islands                      | 464   | 464       | 0          | 52344      | 2.18              | 18.32      | 3.71       | 7.16           |
| 243 | gq   | Guam                                          | 544   | 544       | 0          | 161785     | 0.54              | 16.82      | 5.12       | 6.34           |
| 242 | aq   | American Samoa                                | 199   | 199       | 0          | 54343      | 0.3               | 22.89      | 4.75       | 21.13          |
| 241 | tk   | Turks and Caicos Islands                      | 948   | 948       | 0          | 50280      | 2.3               | 16.13      | 3.1        | 9.94           |
| 239 | sh   | Saint Helena, Ascension, and Tristan da Cunha | 308   | 122       | 0          | 7795       | 0.24              | 9.88       | 7.44       | 0              |
| 237 | mh   | Montserrat                                    | 102   | 102       | 0          | 5241       | 0.5               | 11.26      | 6.3        | 0              |

In [ ]:
SELECT COUNT(id) FROM world.demog

###### output: 215

In [ ]:
DESCRIBE world.demog;

| id                | int    | YES | 
| ----------------- | ------ | --- |
| code              | text   | YES |
| name              | text   | YES |
| area              | int    | YES |
| area_land         | int    | YES |
| area_water        | int    | YES |
| population        | int    | YES |
| population_growth | double | YES |
| birth_rate        | double | YES |
| death_rate        | double | YES |
| migration_rate    | double | YES |

### Secondary Data
03 new data is created: **%land; %water & density** for each country

In [ ]:
CREATE TABLE world.demog01
(
SELECT *,
ROUND((area_land/area*100),2) AS percent_land,
ROUND((area_water/area*100),2) AS percent_water,
ROUND((population/area_land),2) AS density
FROM world.demog
)

SELECT * FROM world.demog01
LIMIT 10;

| id | code | name        | area    | area_land | area_water | population | population_growth | birth_rate | death_rate | migration_rate | percent_land | percent_water | density |
| -- | ---- | ----------- | ------- | --------- | ---------- | ---------- | ----------------- | ---------- | ---------- | -------------- | ------------ | -------------- | ------- |
| 1  | af   | Afghanistan | 652230  | 652230    | 0          | 32564342   | 2.32              | 38.57      | 13.89      | 1.51           | 100          | 0              | 49.93   |
| 2  | al   | Albania     | 28748   | 27398     | 1350       | 3029278    | 0.3               | 12.92      | 6.58       | 3.3            | 95.3         | 4.7            | 110.57  |
| 3  | ag   | Algeria     | 2381741 | 2381741   | 0          | 39542166   | 1.84              | 23.67      | 4.31       | 0.92           | 100          | 0              | 16.6    |
| 4  | an   | Andorra     | 468     | 468       | 0          | 85580      | 0.12              | 8.13       | 6.96       | 0              | 100          | 0              | 182.86  |
| 5  | ao   | Angola      | 1246700 | 1246700   | 0          | 19625353   | 2.78              | 38.78      | 11.49      | 0.46           | 100          | 0              | 15.74   |


### Summarizing the variables

In [ ]:
SELECT ROUND(MIN(area),2), ROUND(MAX(area),2), ROUND(AVG(area),2) FROM world.demog01;

In [ ]:
SELECT ROUND(MIN(area_land),2), ROUND(MAX(area_land),2), ROUND(AVG(area_land),2) FROM world.demog01;

In [ ]:
SELECT ROUND(MIN(area_water),2), ROUND(MAX(area_water),2), ROUND(AVG(area_water),2) FROM world.demog01;

In [ ]:
SELECT ROUND(MIN(population),2), ROUND(MAX(population),2), ROUND(AVG(population),2) FROM world.demog01;

In [ ]:
SELECT ROUND(MIN(population_growth),2), ROUND(MAX(population_growth),2), ROUND(AVG(population_growth),2) FROM world.demog01;

In [ ]:
SELECT ROUND(MIN(birth_rate),2), ROUND(MAX(birth_rate),2), ROUND(AVG(birth_rate),2) FROM world.demog01;

In [ ]:
SELECT ROUND(MIN(death_rate),2), ROUND(MAX(death_rate),2), ROUND(AVG(death_rate),2) FROM world.demog01;

In [ ]:
SELECT ROUND(MIN(migration_rate),2), ROUND(MAX(migration_rate),2), ROUND(AVG(migration_rate),2) FROM world.demog01;

In [ ]:
SELECT ROUND(MIN(percent_land),2), ROUND(MAX(percent_land),2), ROUND(AVG(percent_land),2) FROM world.demog01;

In [ ]:
SELECT ROUND(MIN(percent_water),2), ROUND(MAX(percent_water),2), ROUND(AVG(percent_water),2) FROM world.demog01;

In [ ]:
SELECT ROUND(MIN(density),2), ROUND(MAX(density),2), ROUND(AVG(density),2) FROM world.demog01;

|                   | MIN   | MAX      | AVG      |
| ----------------- | ----- | -------- | -------- |
| area              | 2     | 17098242 | 592671.9 |
| area_land         | 2     | 16377742 | 571976.5 |
| area_water        | 0     | 891163   | 20694.53 |
| population        | 5241  | 1.37E+09 | 32890978 |
| population_growth | 0.01  | 3.32     | 1.21     |
| birth_rate        | 6.65  | 44.99    | 19.07    |
| death_rate        | 1.53  | 14.89    | 7.76     |
| migration_rate    | 0     | 22.39    | 3.42     |
| percent_land      | 18.12 | 100      | 96.72    |
| percent_water     | 0     | 81.88    | 3        |
| density           | 1.93  | 21168.96 | 460.83   |

### Data of Country with highest population

In [ ]:
SELECT * FROM world.demog01
WHERE population = ( SELECT MAX(population) FROM world.demog01);

| id | code | name  | area    | area_land | area_water | population | population_growth | birth_rate | death_rate | migration_rate | percent_land | percent_water | density |
| ----- | ---- | ----- | ------- | --------- | ---------- | ---------- | ----------------- | ---------- | ---------- | -------------- | ------------ | ------------- | ------- |
| 37    | ch   | China | 9596960 | 9326410   | 270550     | 1.37E+09   | 0.45              | 12.49      | 7.53       | 0.44           | 97.18        | 2.82          | 146.63  |

### Data of Country with lowest population

In [ ]:
SELECT * FROM world.demog01
WHERE population = ( SELECT MIN(population) FROM world.demog01);

| id | code | name       | area | area_land | area_water | population | population_growth | birth_rate | death_rate | migration_rate | percent_land | percent_water | density |
| ----- | ---- | ---------- | ---- | --------- | ---------- | ---------- | ----------------- | ---------- | ---------- | -------------- | ------------ | ------------- | ------- |
| 237   | mh   | Montserrat | 102  | 102       | 0          | 5241       | 0.5               | 11.26      | 6.3        | 0              | 100          | 0             | 51.38   |

### Data of Country with highest Population Growth

In [ ]:
SELECT * FROM world.demog01
WHERE population_growth = ( SELECT MAX(population_growth) FROM world.demog01);

| id  | code | name   | area   | area_land | area_water | population | population_growth | birth_rate | death_rate | migration_rate | percent_land | percent_water | density |
| --- | ---- | ------ | ------ | --------- | ---------- | ---------- | ----------------- | ---------- | ---------- | -------------- | ------------ | ------------- | ------- |
| 106 | mi   | Malawi | 118484 | 94080     | 24404      | 17964697   | 3.32              | 41.56      | 8.41       | 0              | 79.4         | 20.6          | 190.95  |

### Data of Country with lowest Population Growth

In [ ]:
SELECT * FROM world.demog01
WHERE population_growth = ( SELECT MIN(population_growth) FROM world.demog01);

| id | code | name   | area   | area_land | area_water | population | population_growth | birth_rate | death_rate | migration_rate | percent_land | percent_water | density |
| -- | ---- | ------ | ------ | --------- | ---------- | ---------- | ----------------- | ---------- | ---------- | -------------- | ------------ | ------------- | ------- |
| 67 | gr   | Greece | 131957 | 130647    | 1310       | 10775643   | 0.01              | 8.66       | 11.09      | 2.32           | 99.01        | 0.99          | 82.48   |

### Data of Country with highest density

In [ ]:
SELECT * FROM world.demog01
WHERE density = ( SELECT MAX(density) FROM world.demog01);

| id  | code | name  | area | area_land | area_water | population | population_growth | birth_rate | death_rate | migration_rate | percent_land | percent_water | density  |
| --- | ---- | ----- | ---- | --------- | ---------- | ---------- | ----------------- | ---------- | ---------- | -------------- | ------------ | ------------- | -------- |
| 205 | mc   | Macau | 28   | 28        | 0          | 592731     | 0.8               | 8.88       | 4.22       | 3.37           | 100          | 0             | 21168.96 |

### Data of Country with lowest density

In [ ]:
SELECT * FROM world.demog01
WHERE density = ( SELECT MIN(density) FROM world.demog01);

| id  | code | name     | area    | area_land | area_water | population | population_growth | birth_rate | death_rate | migration_rate | percent_land | percent_water | density |
| --- | ---- | -------- | ------- | --------- | ---------- | ---------- | ----------------- | ---------- | ---------- | -------------- | ------------ | ------------- | ------- |
| 118 | mg   | Mongolia | 1564116 | 1553556   | 10560      | 2992908    | 1.31              | 20.25      | 6.35       | 0.84           | 99.32        | 0.68          | 1.93    |